* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--display);
}

:root {
    --display: "Roboto";
    --white: #fff;
    --reg: 400;
    --med: 500;
    --semi: 600;
    --bold: 700;
}
html {
    height: 100%;
    margin: 0;
    overflow: hidden;

}

body {
    color: var(--white);
    width: 100%;
    height: 100%;
    transition: background-image 0.5s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0;
}

.container-time, .container-message{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    
}

.container-time {
    margin-top: 150px;
    width: 100%;
    height: 132px;
}

.time-details{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 115.2px;
}

.hours, .colon, .minutes, .greeting, .focus-question, .body-text, .focusInput, .userInput, .displayName, #addQuotesOuter {
    /* text-shadow: rgba(49, 49, 49, 0.767) 0.05px 0 10px; */
    text-shadow: rgba(49, 49, 49, 0.767) 0.05px 0 10px;
}

.colon {
    display: flex;
    align-items: center;
    width: 30px;
}

.greeting-name-details{
    font-size: 33px;
    justify-content: center;
    /* font-weight: var(--med); */
}

.period{
    font-size: 32.4px;
    margin-left: 0
}

.userInput {
    background: none;
    outline:none;
    border: none;
    border-bottom: 2px solid var(--white);
    width: 145.67px;
    height: 49px;
    font-size: 33px;
    text-align: center;
    color: var(--white);
    margin-right: 0;
}


.hidden {
    display: none;
}

.container-focus {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    cursor: default;
}

.container-question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-today {
    text-align: center;
}
.today {
    display: none;
}

.focus-question {
    width: 380px;
    height: 27px;
    font-size: 23.625px;
    font-weight: var(--med);
}

.focusInput{
    outline: none;
    border: none;
    border-bottom: 2px solid var(--white);
    background:none;
    width: 351px;
    height: 36.16px;
    padding: 5px;
    color: var(--white);
    font-size: 28.8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container-quotes {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.collection-quotes {
    padding: 10px;
}

.body-text {
    font-size: 16.2px;
}

.container-tasks {
    margin-left: 69%;
    font-size: 15.3px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 6px;
    display: none;
    position: absolute;
    top: 190px;
    width: 30%;
    height: 50%;
    overflow: auto;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#382828b6;
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #88888852; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.taskLabel{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-right: 20px;
}

.task-label:hover{
    cursor:pointer;
}

.today {
    font-size: 20px;
    font-weight: var(--bold);
}

.focusList {
    display: flex;
    flex-direction: row;
}

.done {
    text-decoration: line-through;
}

#clearButton{
    background-color: transparent;
    color: var(--white);
    display: none;
}

#addQuotesOuter{
    margin-left: 5px;
}

#addQuotesOuter:hover{
cursor: pointer;
background-color: rgba(199, 198, 198, 0.473);
border-radius: 40px;
}

.addButtonInner {
    color: var(--white);
    font-weight: var(--semi);
}

#addQuotesInner {
    cursor:pointer;
}

#addQuotesInner:hover {
    transform: scale(95%);
    color: green;
}

.container-newDivQuotes{
    display: flex; 
    flex-direction: column;
    text-align: center;
    display: none;
}

.newDivQuotes {
    background-color: rgba(0, 0, 0, 0.61);
    width: 50%;
    text-align: center;
    height: 150px;
    border-radius: 20px;
    position: relative;
    left: 25%;
}

.headerQuotes{
    padding: 15px;
    font-size: 20px;
}

#userQuotes {
    height: 50px;
    width: 80%;
    resize:none;
    padding: 10px;
    font-size: 17px;
    font-family: Roboto;
    overflow: hidden;
    outline: none;
}

.toDo {
    padding: 5px;
    font-size: 20px;
    font-weight: var(--bold);
}
.getStarted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-top: 15px;
    font-size: 15px;
    gap: 10px;
}

.container-newTaskInput{
    display: none;
    padding: 5px;
}

.newTaskInput {
    background-color: transparent;
    outline:none;
    border:none;
    font-size: 15px;
    color:var(--white);
}

.newTaskIconGreen {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.newTaskIcon {
    border-radius: 10px;
    background-color: green;
    width: 30%;
    text-align: center;
    padding: 5px;
}

.newTaskIcon:hover {
    cursor: pointer;
}

.container-taskList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:auto;
    padding: 5px;
}

.deleteTask {
    margin-left: 15px;
    height: 15.3px;
    vertical-align: middle;
}

#deleteBtn {
    font-size: 14.4px;
}